

.input{
    margin-bottom: 1rem;
    height: 40px;
    border: 1px solid #8a8a8a;
    border-radius: 0.5rem;
    background-color: #101026;
    color: #fff;
    padding: 1rem;
}

.input::placeholder{
    color: rgba(255, 255, 255, 0.8);
}